@import '../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep nb-card-body .row .col-md-12.first-box {
    margin-bottom: 20px;
  }
  ::ng-deep nb-card-body .row .col-md-12.second-box {
    margin-bottom: 20px;
  }
  ::ng-deep nb-card-body .row .col-md-12.second-box .dropdown.show {
    max-width: 300px;
  }
  ::ng-deep nb-card-body .row .col-md-12.second-box .second-selboxtwo {
    margin-right: 20px;
    min-width: 180px;
  }
  ::ng-deep nb-card-body .row .col-md-12.second-box .second-selboxthree {
    margin-right: 20px;
    min-width: 200px;
  }
  ::ng-deep nb-card-body .row .col-md-12.second-box .btn.btn-primary.second-box {
    vertical-align: baseline;
    margin-right: 20px;
  }
  ::ng-deep nb-card-body .row .col-md-12.second-box nb-checkbox#help {
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
  }

  ::ng-deep nb-card-body button.btn.btn-outline-dark.btn-all {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  ::ng-deep nb-card-body button.btn.btn-outline-dark.btn-none {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  ::ng-deep button.btn.btn-outline-dark.tool-box.btn-export {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    vertical-align: baseline;
  }
  ::ng-deep button.btn.btn-outline-dark.tool-box.btn-custom {
    margin-right: 10px;
    vertical-align: baseline;
  }
  ::ng-deep button.btn.btn-success.tool-box.btn-schedule {
    margin-right: 10px;
    vertical-align: baseline;
    background-color: #5bb75b;
  }
  
  ::ng-deep button.btn.btn-outline-dark.tool-box.btn-down {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    vertical-align: baseline;
    margin-right: 10px;
  }

  ::ng-deep nb-card-body .last-box button.btn.btn-outline-dark.btn-none {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    vertical-align: baseline;
  }
  ::ng-deep nb-card-body .last-box button.btn.btn-outline-dark.btn-all {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    vertical-align: baseline;
  }
  ::ng-deep nb-card-body .last-box button.btn.btn-primary.btn-center {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    vertical-align: baseline;
  }

  ::ng-deep nb-card-body nb-select.sel-box {
    min-width: 200px;
    margin-left: 20px;
    max-width: 200px;
  }
  ::ng-deep nb-select button {
    background-color: black;
  }
  ::ng-deep g2-smart-table {    
    table {
      thead{
        background-color: red;
      }
    }
  }

  ::ng-deep ng2-smart-table#dialogtable thead th{
    min-width: 600px;
    display: none;
  }
  ::ng-deep nb-card#thirddialog nb-card-body ng2-smart-table thead tr th{
    font-size: .8em;
    margin: 0;
    padding: 0em 0em;
    background-color: lightyellow;
  }
  ::ng-deep div.dialogbox nb-card nb-card-body ng2-smart-table thead tr th{
    font-size: .8em;
    margin: 0;
    padding: 0em 0em;
    background-color: lightyellow;
  }
  ::ng-deep .table-box nb-card nb-card-body ng2-smart-table table tr th{
    background-color: lightyellow;
    font-size: .75em;
    padding: 0px;
    text-align: center;
  }
  ::ng-deep .table-box nb-card nb-card-body ng2-smart-table table tr td{
    font-size: .75em;
    text-align: center;
    padding: 0px;
  }
  ::ng-deep .table-box nb-card nb-card-body ng2-smart-table table tr td input {
    margin: 0px;
    padding: 0px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-clip: padding-box;
  }
  ::ng-deep .multiselect-dropdown div span.dropdown-btn{
    // background-color: lightblue;
    border: 0px;
  }
  ::ng-deep .autoinput input {
    width: 100%;
    margin: auto 0;
    line-height: 1.5rem;
  }
  ::ng-deep .autoinputone input {
    width: 100%;
    // margin: auto 0;
    line-height: 1.5rem;
    margin: auto 0;
  }
  ::ng-deep .autoinputtwo input {
    width: 100%;
    margin: auto 0;
    line-height: 1.5rem;
  }

  ::ng-deep nb-select#displayitem button {
    background-color: #5bb75b;
    border-color: #5bb75b;
  }

  ::ng-deep .status-badge {
    background:#3a87ad;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  ::ng-deep .noprofile {
    background: grey;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  ::ng-deep .newpatient {
    background:#3a87ad;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  ::ng-deep .follow {
    background:#1f497d;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  ::ng-deep .defaultclaim {
    text-align: center;
    background: grey;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  ::ng-deep .successclaim {
    text-align: center;
    background: green;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  ::ng-deep .infoclaim {
    text-align: center;
    background:#1f497d;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  ::ng-deep .dangerclaim {
    text-align: center;
    background: red;
    text-align: center;
    border-radius: 9px;
    color:white;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  
  .list-card {
    nb-card-header {
      border-bottom: none;
      box-shadow: 0 0 1px 0 rgba($color: #575454, $alpha: 0.5);
      border-radius: 0px;
    }
    nb-card-body {
      padding: 0;
    }
  }
}
